body {
    background: linear-gradient(to bottom right, rgb(76, 76, 95), rgb(248, 246, 246)) no-repeat fixed;
    background-size: cover;
}

p {
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5%;
}

#cloud {
    position: relative;
    bottom: 430px;
    margin-left: 45%;
    width: 300px;
    height: 170px;
}

#s1 {
    margin-left: 50%;
    margin-top: 20%;
    width: 300px;
    height: 150px;
    background: rgba(248, 246, 246, 0.658);
    color: rgba(122, 117, 117, 0.788);
    box-shadow: 16px 10px 6px -5px rgba(17, 18, 19, 0.6);
}

#square {
    position: relative;
    margin-top: -30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 300px;
    height: 300px;
    background: black;
    color: wheat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 16px 10px 6px -5px rgba(17, 18, 19, 0.6);
    padding: 10px;
}

.rpos {
    position: relative;
    display: inline-block;
    top: 145px;
}

#temp {
    font-size: 100px;
    color: rgba(122, 117, 117, 0.788);
}

#date {
    font-size: 25px;
    color: rgba(122, 117, 117, 0.788);
    text-align: right;
}

.box {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(122, 117, 117, 0.788);
    margin-left: 5%;
    top: 60px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 60px;
}

.zxc {
    color: black;
    font-weight: bolder;
}

#moon {
    position: relative;
    height: 75px;
    width: 75px;
    background: linear-gradient(to bottom right, rgb(12, 12, 12), rgb(56, 44, 44));
    border-radius: 50%;
    margin-left: 35%;
    bottom: 170px;
}

.x {
    position: relative;
    width: 50px;
    margin-left: 85%;
    bottom: 50%;
}

.st {
    width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    display: inline-block;
}

#year {
    top: -115px;
    margin-left: 90%;
    font-size: 30px;
    color: black;
}

#day {
    font-size: 20px;
    color: black;
}

#time {
    margin-left: 5%;
    top: 100px;
    font-size: 80px;
    color: black;
}

.column {
    float: left;
    padding: 5px;
    opacity: .8;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#str {
    position: relative;
    margin-left: 30%;
    bottom: 450px;
}