body {
    background-color: black;
}

#bs {
    background-color: rgb(57, 93, 252);
    width: 200px;
    height: 200px;
}

#ws1 {
    background-color: rgb(125, 149, 255);
    width: 200px;
    height: 200px;
    border-top-right-radius: 150px;
}

#ws2 {
    background-color: rgb(125, 149, 255);
    width: 200px;
    height: 200px;
    border-bottom-left-radius: 150px;
}

.row {
    display: table;
    table-layout: fixed;
}

.column {
    display: table-cell;
}

.mainblock {
    margin-top: 2%;
    margin-left: 70%;
}

.nav {
    background: rgb(51, 51, 51);
    text-align: center;
}

.nav a {
    text-decoration: none;
    display: block;
    transition: .5s linear;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu>li {
    display: inline-block;
    position: relative;
    width: 200px;
}

.topmenu>li>a {
    font-weight: bold;
    padding: 10px 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f3ebeb;
}

.topmenu a:hover {
    background: rgb(25, 188, 238);
}

.submenu {
    position: absolute;
    left: 10px;
    z-index: 5;
    width: 240px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s ease-in-out;
}

.submenu li {
    position: relative;
    margin: 2px;
}

.submenu a {
    background: rgb(25, 188, 238);
    color: white;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
}

.submenu a:hover {
    background: rgb(85, 200, 235);
}

.submenu .submenu {
    position: absolute;
    top: 0;
    left: 200px;
}

.nav li:hover>.submenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

#o {
    background: rgb(25, 188, 238);
}

.xtd {
    position: relative;
    text-shadow: 7px -3px rgb(125, 149, 255);
    color: rgb(57, 93, 252);
    font-size: 500%;
    margin-left: 5%;
    margin-top: -40%;
}

.textl {
    border: 1px solid #999;
    position: relative;
    width: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 247, 255);
    margin-left: 59%;
    margin-top: -35%;
}