body {
    background: linear-gradient(to bottom right, rgb(36, 36, 36), rgb(41, 36, 36)) no-repeat fixed;
    background-size: cover;
}

.row {
    display: table;
    table-layout: fixed;
    width: 90%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.column {
    display: table-cell;
    width: 30%;
}

#img {
    border-radius: 800px;
    box-shadow: 1px 1px 2px rgb(10, 10, 10), 0 0 1em rgb(125, 149, 255);
}

h1 {
    margin-left: -2%;
    color: rgb(125, 149, 255);
    font-family: Bradley Hand, cursive;
    text-shadow: 1px 1px 2px rgb(10, 10, 10), 0 0 1em rgb(125, 149, 255);
}

.scale {
    transition: 1s;
}

.scale:hover {
    transform: scale(1.2);
}

p {
    font-family: Bradley Hand, cursive;
    color: rgb(125, 149, 255);
}

.ss {
    margin-top: 0%;
    margin-left: -10px;
    margin-right: auto;
    width: 90%;
    height: 70%;
    text-align: left;
    font-weight: 100;
    font-size: small;
}

.mlogo {
    width: 25px;
}

#lu {
    position: relative;
    bottom: 250px;
}